@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
	margin-right: 5px;
}.flaticon-amazon5:before {
	content: "\e000";
}
.flaticon-bottom4:before {
	content: "\e001";
}
.flaticon-box34:before {
	content: "\e002";
}
.flaticon-chat26:before {
	content: "\e003";
}
.flaticon-cloud79:before {
	content: "\e004";
}
.flaticon-daily21:before {
	content: "\e005";
}
.flaticon-delete96:before {
	content: "\e006";
}
.flaticon-envelope32:before {
	content: "\e007";
}
.flaticon-factory4:before {
	content: "\e008";
}
.flaticon-lock107:before {
	content: "\e009";
}
.flaticon-newspaper11:before {
	content: "\e00a";
}
.flaticon-offer1:before {
	content: "\e00b";
}
.flaticon-pictures1:before {
	content: "\e00c";
}
.flaticon-piegraph:before {
	content: "\e00d";
}
.flaticon-read1:before {
	content: "\e00e";
}
.flaticon-ruler9:before {
	content: "\e00f";
}
.flaticon-school103:before {
	content: "\e010";
}
.flaticon-sell1:before {
	content: "\e011";
}
.flaticon-shopping60:before {
	content: "\e012";
}
.flaticon-speechballoon7:before {
	content: "\e013";
}
.flaticon-speedometer4:before {
	content: "\e014";
}
.flaticon-statistics23:before {
	content: "\e015";
}
.flaticon-tools4:before {
	content: "\e016";
}
.flaticon-truck77:before {
	content: "\e017";
}
.flaticon-twitter42:before {
	content: "\e018";
}
.flaticon-user65:before {
	content: "\e019";
}
.flaticon-users2:before {
	content: "\e01a";
}
